{% extends 'simple_app/base.html' %}
<!DOCTYPE html>
{% load static %}
{% block title %}
{{ home_key }}
{% endblock %}

{% block body %}
<div class="home-content">
	<h1>{{ home_key }}</h1>
	
	<h2>Aishe Buhari is the first lady of Nigeria</h2>
	<img src="{% static 'simple_app/images/aisha.jpg' %}" alt="">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illum recusandae<br> 
		impedit optio nisi deleniti, nostrum ad labore, debitis at dolor quo autem omnis voluptatum<br>  ipsa natus harum maiores. At.Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
		 Quae illum recusandae impedit optio nisi deleniti, nostrum ad labore, debitis at dolor<br>  
		 quo autem omnis voluptatum ipsa natus harum maiores. At.Lorem ipsum dolor sit amet,<br>  consectetur adipisicing elit. Quae illum recusandae impedit optio nisi deleniti,<br> 
		  nostrum ad labore, debitis at dolor quo autem omnis voluptatum ipsa natus harum maiores. At.
	</p>
	<a href="#">Readmore</a>
	<hr>
	<h2>Biodun Fatoyinbo accused of rape</h2>
	<img src="{% static 'simple_app/images/Biodun-Fatoyinbo.jpg' %}" alt="">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illum recusandae<br> 
		impedit optio nisi deleniti, nostrum ad labore, debitis at dolor quo autem omnis voluptatum<br>  ipsa natus harum maiores. At.Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
		 Quae illum recusandae impedit optio nisi deleniti, nostrum ad labore, debitis at dolor<br>  
		 quo autem omnis voluptatum ipsa natus harum maiores. At.Lorem ipsum dolor sit amet,<br>  consectetur adipisicing elit. Quae illum recusandae impedit optio nisi deleniti,<br> 
		  nostrum ad labore, debitis at dolor quo autem omnis voluptatum ipsa natus harum maiores. At.
	</p>
	<a href="#">Readmore</a>
	<hr>
	<h2>2face Nigerian Music Legend</h2>
	<img src="{% static 'simple_app/images/2face.jpg' %}" alt="">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae illum recusandae<br> 
		impedit optio nisi deleniti, nostrum ad labore, debitis at dolor quo autem omnis voluptatum<br>  ipsa natus harum maiores. At.Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
		 Quae illum recusandae impedit optio nisi deleniti, nostrum ad labore, debitis at dolor<br>  
		 quo autem omnis voluptatum ipsa natus harum maiores. At.Lorem ipsum dolor sit amet,<br>  consectetur adipisicing elit. Quae illum recusandae impedit optio nisi deleniti,<br> 
		  nostrum ad labore, debitis at dolor quo autem omnis voluptatum ipsa natus harum maiores. At.
	</p>
	<a href="#">Readmore</a>
	<hr>
</div>


{% endblock %}